<h3>Buscar por region <small>region activa</small></h3>
<hr />
<h5>seleccione la region</h5>
<div class="row">
  <div class="col">
    <!-- [class.btn-primary]="region === regionActive" -->
    <!-- [ngClass]="{
      'btn-primary': regionActive === region,
      'btn-outline-primary': regionActive !== region
    }" -->
    <button
      (click)="activeRegion(region)"
      [class]="getClaseCSS(region)"
      *ngFor="let region of regiones"
    >
      {{ region | titlecase }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-county-table [countries]="countries"></app-county-table>
  </div>
</div>
